<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associar Funcionário a Cargo</title>
</head>
<body>
    <h1>Associar Funcionário a Cargo</h1>
    <form action="/associar_funcionario_cargo" method="post">
        ID Funcionário: <input type="text" name="funcionario_id"><br>
        ID Cargo: <input type="text" name="cargo_id"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
