<!DOCTYPE html>
<html>
<head>
    <title>Consulta com LIKE</title>
</head>
<body>
    <h1>Consulta com LIKE</h1>
    <form action="/consulta_like" method="post">
        <label for="id_funcionario">ID do Funcionário:</label>
        <input type="text" id="id_funcionario" name="id_funcionario" required>
        <br>
        <label for="ddd">Digite o DDD:</label>
        <input type="text" id="ddd" name="ddd" required>
        <br>
        <button type="submit">Consultar</button>
    </form>
</body>
</html>
