<!DOCTYPE html>
<html>
<head>
    <title>Consultas</title>
</head>
<body>
    <h1>Consultas</h1>
    <form action="/executar_consulta" method="post">
        <button type="submit" name="consulta" value="consulta_like">Consulta com LIKE</button>
        <button type="submit" name="consulta" value="consulta_conjuntos">Consulta com Operadores de Conjuntos</button>
        <button type="submit" name="consulta" value="consulta_join">Consulta com JOIN</button>
        <button type="submit" name="consulta" value="consulta_multi_join">Consulta com Múltiplos JOIN</button>
        <button type="submit" name="consulta" value="consulta_outer_join">Consulta com OUTER JOIN</button>
        <button type="submit" name="consulta" value="consulta_agregacao">Consulta com Função de Agregação</button>
        <button type="submit" name="consulta" value="consulta_group_by">Consulta com GROUP BY</button>
        <button type="submit" name="consulta" value="consulta_group_by_having">Consulta com GROUP BY e HAVING</button>
        <button type="submit" name="consulta" value="consulta_in">Consulta com Operador IN</button>
        <button type="submit" name="consulta" value="consulta_exists">Consulta com Operador EXISTS</button>
        <button type="submit" name="consulta" value="consulta_some">Consulta com Operador SOME</button>
        <button type="submit" name="consulta" value="consulta_all">Consulta com Operador ALL</button>
        <button type="submit" name="consulta" value="consulta_aninhada">Consulta Aninhada no FROM</button>
    </form>
</body>
</html>
