<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo à Página Inicial</h1>
    <ul>
        <li><a href="/inserir_dados_pessoais">Inserir Funcionário</a></li>
        <li><a href="/inserir_cargo">Inserir Cargo</a></li>
        <li><a href="/associar_funcionario_cargo">Associar Funcionário a Cargo</a></li>
        <li><a href="/consultar_funcionarios">Consultar Funcionários</a></li>
        <li><a href="/consultar_cargos">Consultar Cargos</a></li>
        <li><a href="/consultar_associacoes">Consultar Associações</a></li>
    </ul>
</body>
</html>
