<!DOCTYPE html>
<html>
<head>
    <title>Página Inicial</title>
</head>
<body>
    <h1>Página Inicial</h1>
    
    <a href="/adicionar_funcionario">
        <button>Adicionar Funcionário</button>
    </a>

    <a href="/consultar_funcionarios">
        <button>Consultar Funcionários</button>
    </a>
    
    <a href="/excluir_funcionario">
        <button>Apagar Funcionário</button>
    </a>

    <a href="/alterar_dados">
        <button>Alterar dados</button>
    </a>

    <a href="/consultas">
        <button>Consultas</button>
    </a>

</body>
</html>
